<a href="https://colab.research.google.com/github/shagun-dhaliwal/Practice-Repository-/blob/main/Summary_Statistics_TFR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Commands & Data Uploading

In [82]:
import pandas as pd 
import pylab
import matplotlib.pyplot as plt

In [40]:
#Uploads TFR Data 
from google.colab import files
uploaded = files.upload()

Saving TFR_cleaned.csv to TFR_cleaned.csv

In [42]:
data_path = '/content/TFR_cleaned.csv'
dataTFR = pd.read_csv(data_path, encoding='latin1')
dataTFR.head()

  Ã¯Â»Â¿"Country Code"  ...          IncomeGroup
0                  ABW  ...          High income
1                  AFG  ...           Low income
2                  AGO  ...  Lower middle income
3                  ALB  ...  Upper middle income
4                  AND  ...          High income

[5 rows x 64 columns]

# Summary Statisticcs: World TFR Data

Summary Statistics for world data each year

In [43]:
#This gives summary stats for each year (1960-2018)
dataTFR.describe()

             1960        1961        1962  ...        2016        2017        2018
count  190.000000  191.000000  190.000000  ...  200.000000  200.000000  200.000000
mean     5.521432    5.499455    5.499889  ...    2.719631    2.678493    2.647406
std      1.731749    1.749529    1.758737  ...    1.305004    1.285468    1.261432
min      1.940000    1.940000    1.790000  ...    1.172000    1.052000    0.977000
25%      4.216500    3.927500    4.123500  ...    1.732250    1.690000    1.697500
50%      6.248000    6.228000    6.214500  ...    2.224500    2.212500    2.198000
75%      6.802500    6.804500    6.826250  ...    3.639750    3.597750    3.558000
max      8.187000    8.194000    8.197000  ...    7.087000    7.001000    6.913000

[8 rows x 59 columns]

# Creating dataframe with only countries in Africa

Create a new dataframe which only has countries in Africa.

In [77]:
TFR_ss =dataTFR[dataTFR['Region'] == 'Sub-Saharan Africa']
TFR_ss.head()
#But still missing 6 African countries from region "Middle East & North Africa"

   Ã¯Â»Â¿"Country Code"  Country Name  ...              Region          IncomeGroup
2                   AGO        Angola  ...  Sub-Saharan Africa  Lower middle income
13                  BDI       Burundi  ...  Sub-Saharan Africa           Low income
15                  BEN         Benin  ...  Sub-Saharan Africa  Lower middle income
16                  BFA  Burkina Faso  ...  Sub-Saharan Africa           Low income
30                  BWA      Botswana  ...  Sub-Saharan Africa  Upper middle income

[5 rows x 64 columns]

In [76]:
#TFR_NA = dataTFR[dataTFR['Country Name']==['Egypt, Arab Rep.','Libya', 'Tunisia' ,'Algeria','Morocco','Djibouti']]
countries = ['Egypt, Arab Rep.','Libya', 'Tunisia' ,'Algeria','Morocco','Djibouti']

new = dataTFR['Country Name'].isin(countries)
dataTFR[new]

    Ã¯Â»Â¿"Country Code"  ...          IncomeGroup
51                   DJI  ...  Lower middle income
55                   DZA  ...  Lower middle income
57                   EGY  ...  Lower middle income
110                  LBY  ...  Upper middle income
120                  MAR  ...  Lower middle income
196                  TUN  ...  Lower middle income

[6 rows x 64 columns]

In [79]:
#Concat Sub-Saharan and North African countries into one dataframe
TFR_Africa = pd.concat([TFR_ss,dataTFR[new]], ignore_index=True)
TFR_Africa

   Ã¯Â»Â¿"Country Code"  ...          IncomeGroup
0                   AGO  ...  Lower middle income
1                   BDI  ...           Low income
2                   BEN  ...  Lower middle income
3                   BFA  ...           Low income
4                   BWA  ...  Upper middle income
5                   CAF  ...           Low income
6                   CIV  ...  Lower middle income
7                   CMR  ...  Lower middle income
8                   COD  ...           Low income
9                   COG  ...  Lower middle income
10                  COM  ...  Lower middle income
11                  CPV  ...  Lower middle income
12                  ERI  ...           Low income
13                  ETH  ...           Low income
14                  GAB  ...  Upper middle income
15                  GHA  ...  Lower middle income
16                  GIN  ...           Low income
17                  GMB  ...           Low income
18                  GNB  ...           Low income
19                  GNQ  ...  Upper middle income
20                  KEN  ...  Lower middle income
21                  LBR  ...           Low income
22                  LSO  ...  Lower middle income
23                  MDG  ...           Low income
24                  MLI  ...           Low income
25                  MOZ  ...           Low income
26                  MRT  ...  Lower middle income
27                  MUS  ...          High income
28                  MWI  ...           Low income
29                  NAM  ...  Upper middle income
30                  NER  ...           Low income
31                  NGA  ...  Lower middle income
32                  RWA  ...           Low income
33                  SDN  ...           Low income
34                  SEN  ...  Lower middle income
35                  SLE  ...           Low income
36                  SOM  ...           Low income
37                  SSD  ...           Low income
38                  STP  ...  Lower middle income
39                  SWZ  ...  Lower middle income
40                  SYC  ...          High income
41                  TCD  ...           Low income
42                  TGO  ...           Low income
43                  TZA  ...  Lower middle income
44                  UGA  ...           Low income
45                  ZAF  ...  Upper middle income
46                  ZMB  ...  Lower middle income
47                  ZWE  ...  Lower middle income
48                  DJI  ...  Lower middle income
49                  DZA  ...  Lower middle income
50                  EGY  ...  Lower middle income
51                  LBY  ...  Upper middle income
52                  MAR  ...  Lower middle income
53                  TUN  ...  Lower middle income

[54 rows x 64 columns]

In [81]:
TFR_Africa.to_csv('TFR_Africa_Cleaned.csv')

# Summary Statistics: Africa TFR Data

In [83]:
TFR_Africa.describe()

            1960       1961       1962  ...       2016       2017       2018
count  53.000000  53.000000  53.000000  ...  54.000000  54.000000  54.000000
mean    6.620642   6.645302   6.668151  ...   4.305093   4.242056   4.177778
std     0.642701   0.642003   0.642187  ...   1.182896   1.158658   1.139029
min     4.384000   4.462000   4.541000  ...   1.400000   1.440000   1.410000
25%     6.242000   6.228000   6.216000  ...   3.537750   3.478250   3.420000
50%     6.716000   6.733000   6.747000  ...   4.459000   4.385500   4.320500
75%     6.967000   6.985000   7.028000  ...   4.950250   4.878500   4.807250
max     8.187000   8.194000   8.197000  ...   7.087000   7.001000   6.913000

[8 rows x 59 columns]